body {
    margin: 0 0 0 0;
    height: 100%;
    background-color: whitesmoke;
    font-size: 12pt;
}

hr {
    margin: 0 0 0 0;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

.header {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10vw;
    width: calc(80vw - 32px);
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.header-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

body {
    font-family: "Computer Modern", "CMU Serif", sans-serif;
}

.content::before {
    background-color: red;
    width: calc(80vw - 48px);
    margin-left: calc(10vw + 8px);
    display: block;
}

.content {
    width: calc(80vw - 48px);
    margin-left: calc(10vw + 8px);
}

a, a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: darkblue;
}

.tippy-box {
    background-color: rgba(237, 235, 230, .9);
    color: black;
}

.tippy-arrow {
    color: rgba(180, 180, 170, 1);
}

.MathJax {
    font-size: 10px;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}