body {
    margin: 0 0 0 0;
    height: 100%;
    background-color: whitesmoke;
    font-size: 14pt;
}

hr {
    margin: 0 0 0 0;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

.header {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.header-item {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
    font-size: 24px;
    text-align: center;
}

body {
    font-family: "Computer Modern", "CMU Serif", sans-serif;
}

.content {
    width: calc(80vw - 48px);
    margin-left: calc(10vw + 8px);
    margin-top: 16px;
    background-color: rgba(255, 255, 255, .5);
    padding: 24px;
}

a, a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: darkblue;
}

.tippy-box {
    background-color: rgba(237, 235, 230, .95);
    color: black;
    font-size: 24px;
}

.tippy-arrow {
    color: rgba(180, 180, 170, 1);
}

.MathJax {
    font-size: 10px;
}

figure figcaption {
    text-align: center;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}